.beam:hover {
    filter: drop-shadow(0px 0px 4px red);
    overflow: visible;
}

.beam {
    cursor: pointer;
}

.active {
    filter: drop-shadow(0px 0px 5px #c800bb);
}

.disabled {
  color: #888888;
  cursor: not-allowed;
}

.is-active {
  border: 1px solid blue;
  padding: 0px 10px;
  border-radius: 7px;
  margin: 0px 5px;
}
