<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:shortcode -->
        [thet_get_wheel]
        <!-- /wp:shortcode --></div>
    <!-- /wp:column -->

    <!-- wp:column -->
    <div class="wp-block-column">
        <!-- wp:html -->
        <div class="column">


            <div class="block intro-content">

                <div class="block  pt-6">

                    <div class="block content has-text-centered">
                        <h3>Health Evaluation Tool</h3>
                        <p>
                        Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.
                        </p>
                    </div>
                    <div class="block content pt-3">
                        <ol>
                            <li>Whole process might take on average 15 minutes</li>
                            <li>Lorem ipsum dolor sit amet, qui minim.</li>
                            <li>Lorem ipsum dolor sit amet, qui minim.</li>
                            <li>Lorem ipsum dolor sit amet, qui minim.</li>
                            <li>Start with clicking on any segment of the wheel</li>
                        </ol>

                    </div>

                </div>
            </div>

            <div class="block main-content is-hidden">
                <div class="block">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <div class="block content has-text-centered">
                            <h3 class="beam-title">Online presence</h3>
                        </div>
                        <ul>
                            <li class="question question-1" ><a href="#">Question 1</a></li>
                            <li class="question question-2"><a href="#">Question 2</a></li>
                            <li class="question question-3"><a href="#">Question 3</a></li>
                            <li class="question question-4 is-active"><a href="#" aria-current="page">Question 4</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="block content pt-5">
                    <h4 class="main-question">Main Question Content</h4>
                    <p class="main-question-description">Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
                    <div class="control">
                        <div class="control is-flex is-flex-direction-row is-justify-content-space-between">
                            <label class="radio m-2">
                                <input type="radio" class="answer answer-1" name="answer">
                                Don't have it
                            </label>
                            <label class="radio m-2">
                                <input type="radio" class="answer answer-2" name="answer">
                                Somehow working
                            </label>
                            <label class="radio m-2">
                                <input type="radio" class="answer answer-3" name="answer">
                                Great, doing / working
                            </label>

                        </div>
                    </div>
                    <div class="block pt-5">
                        <h4>Comment section</h4>
                        <p>If you would want to add something to your answer feel free to write it here:</p>
                        <label for="textarea">
                            Your comment
                            <textarea class="textarea " placeholder="e.g. Hello world"></textarea>
                        </label>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <button class="button is-fullwidth is-outlined is-info previous-button"><- Previous</button>
                        </div>
                        <div class="column">
                            <button class="button is-fullwidth is-outlined is-info next-button">Next -></button>
                        </div>
                    </div>
                    <div class="block pt-5 last-question-warning">
                        <div class="notification is-warning is-light has-text-righ has-text-centered">
                            Select another segment from the wheel.
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- /wp:html --></div>
    <!-- /wp:column --></div>
<!-- /wp:columns -->
