<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:html -->
<div class="block has-text-centered mb-5"><h1 class="title is-2">[bat_get_application_title]</h1></div>
<!-- /wp:html --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:shortcode -->
[bat_get_wheel]
<!-- /wp:shortcode --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:html -->
<div class="column">


            <div class="block intro-content">

                <div class="block  pt-6 px-6">

                    <div class="block content has-text-left">
                        <p>
                        Thank you for taking your time to share with us little more details about your M2M effort!
                        </p>
                        <p>
                        By answering these questions we hope to have better idea about how we can be more helpful for you.
                        </p>
                        <p>
                        Asnwers are automatically saved every dozen of seconds. The wheel on the left also changes colors based 
                        on your answers, so you can easily see what parts you already filled in.
                        </p>
                        <p>
                        You can start by hitting the button below, or just select the part of the wheel (topic) you want to work on.
                        </p>
                    </div>
                    <div class="block pt-5 has-text-centered">
                        <button class="button is-primary pl-6 pr-6 mt-4 bat-start-assessment">Let's do it!</button>
                    </div>

                </div>
            </div>

            <div class="block main-content is-hidden">
                <div class="block">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <div class="block content has-text-centered">
                            <h3 class="beam-title">Online presence</h3>
                        </div>
                        <ul>
                            <li class="question question-1" ><a href="#">Question 1</a></li>
                            <li class="question question-2"><a href="#">Question 2</a></li>
                            <li class="question question-3"><a href="#">Question 3</a></li>
                            <li class="question question-4 is-active"><a href="#" aria-current="page">Question 4</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="block content pt-5">
                    <h4 class="main-question">Main Question Content</h4>
                    <p class="main-question-description">Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
                    <div class="control">
                        <div class="control is-flex is-flex-direction-row is-justify-content-space-between">
                            <label class="radio m-2 bat-radio-option">
                                <input type="radio" class="answer answer-1" name="answer">
                                <span>Don't have it</span>
                            </label>
                            <label class="radio m-2 bat-radio-option">
                                <input type="radio" class="answer answer-2" name="answer">
                                <span>Somehow working</span>
                            </label>
                            <label class="radio m-2 bat-radio-option">
                                <input type="radio" class="answer answer-3" name="answer">
                                <span>Great, doing / working</span>
                            </label>

                        </div>
                        <div class="has-text-centered">
                            <button class="button is-info is-outlined pl-6 pr-6 mt-4 bat-radio-clear">Clear</button>
                        </div>
                    </div>
                    <div class="block pt-5">
                        <h4 class="bat-comment-title">Comment section</h4>
                        <p class="bat-comment-description">If you would want to add something to your answer feel free to write it here:</p>
                        <label for="textarea">
                            <textarea class="textarea " placeholder="Your answer..."></textarea>
                        </label>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <button class="button is-fullwidth is-outlined is-info previous-button"><- Previous</button>
                        </div>
                        <div class="column">
                            <button class="button is-fullwidth is-outlined is-info next-button">Next -></button>
                        </div>
                    </div>
                    <div class="block pt-5 last-question-warning">
                        <div class="notification is-warning is-light has-text-righ has-text-centered">
                            Select another segment from the wheel.
                        </div>
                    </div>
                </div>

            </div>

        </div>
<!-- /wp:html --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:html -->
<div class="columns mt-6">
 <div class="column"></div>
 <div class="column is-one-quarter has-text-centered mt-5 is-flex is-flex-direction-column"><button class="button is-primary px-6 py-5 bat-save-progress-button">Save progress</button><div class="block bat-save-progress-label" style="visibility: hidden;">Loren Ipsum</div></div>
 <div class="column"></div>
</div>
<!-- /wp:html --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

